**/code/archive
**/presentation
**/text

data/cses/data/
output/iterations.Rdata
output/intermediate.Rdata
output/intermediate2.Rdata
output/intermediate3.Rdata
output/intermediate4.Rdata
output/manyiterations.Rdata
output/manyiterations2.Rdata

*.stderr
*.out
*_iterout.Rdata
**/cases
